.button {
    width: 42px;
    height: 42px;
    background-color: var(--darkBlue);
    border: none;
    border-radius: 50%;
    color: var(--white);
}

.button:hover {
    background-color: var(--orange);
}


@media screen and (min-width: 700px) {
    .button {
        width: 51px;
        height: 51px;
    }
}